{% load staticfiles %}

<html>
    <head>
        <title>MTB Vikend</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
      <div class="col-sm-12" id="topOffset">
        <!-- just adding space at the top, before navbar -->
      </div>

      <div class="container">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">mtb - vikend</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Početna <span class="sr-only">(current)</span></a></li>
                <li><a href="#">FAQ</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rute <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Papuk</a></li>
                    <li><a href="#">Krndija</a></li>
                    <li><a href="#">Psunj</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Korčula</a></li>
                  </ul>
                </li>
              </ul>
              <form class="navbar-form navbar-right">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Pretraga">
                </div>
              </form>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div> <!-- /.container -->

      <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

          <div class="item active">
            <img src="{% static 'img/vlasic.jpg' %}" alt="Vlašić">
            <div class="carousel-caption">
              <h3>Vlašić</h3>
              <hr>
              <p> Jedno od najljepših MTB iskustava!</p>
            </div>
          </div>

          <div class="item">
            <img src="{% static 'img/kapovac.jpg' %}" alt="Kapovac">
            <div class="carousel-caption">
              <h3>Kapavac</h3>
              <hr>
              <p> Pogled na Kapavac sa Starog Grada.</p>
            </div>
          </div>

          <div class="item">
            <img src="{% static 'img/japetic.jpg' %}" alt="Japetić">
            <div class="carousel-caption">
              <h3>Samoborsko gorje</h3>
              <hr>
              <p> Pogled kod planinarskog doma Žitnica.</p>
            </div>
          </div>

          <div class="item">
            <img src="{% static 'img/rastoke.jpg' %}" alt="Rastoke">
            <div class="carousel-caption">
              <h3>Rastoke</h3>
              <hr>
              <p> Mjesto koje morate posjetiti!</p>
            </div>
          </div>

          <div class="item">
            <img src="{% static 'img/maliscak.jpg' %}" alt="Mališćak">
            <div class="carousel-caption">
              <h3>Mališćak</h3>
              <hr>
              <p> Pogled kod planinarskog doma Mališćak.</p>
            </div>
          </div>

        </div>
        </div> <!-- /.carousel -->
    <!--  </div>  /. main container -->

      <!-- main content -->
      <div class="container-fluid">
        <div class="row">

            {% block content %}
              <!-- content for post_list.html -->
            {% endblock %}

            {% block post_detail %}
              <!-- content for post_detail.html -->
            {% endblock %}
        </div>
      </div>

      <!--  Footer -->
      <footer class="footer">
      <div class="container">
        <span class="text-muted">Need to put some footer content here.</span>
      </div>
    </footer>

    </body>
</html>
